
/* General Styles */

body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0; } 
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40; 
}

h1 {
  font-size: 3.3rem;
  line-height: 3rem; 
}

h2 {
  font-size: 3.1rem; 
}

a {
  color: #22306f; 
}

a:hover, a:focus, a:active {
  color: #22306f; 
}

/* navbar */
.navbar-nav {
    margin: auto; 
}

/* section image */
.main-image {
    background: url(../img/main-front.jpg) bottom left no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.link-to-about {
    left: calc( 50% - 24px);
    font-size: 20px;
    animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    top: calc( 70% - 65px );
  }
  50% {
    top: calc( 70% - 35px );
  }
}

/* style for other section */
.subheading {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.35rem; 
}

.list-social-icons a {
  color: #495057; 
}

.list-social-icons a:hover {
  color: #22306f; 
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem; 
}

.list-icons {
  font-size: 3rem; 
}

.list-icons .list-inline-item i:hover {
  color: #22306f; 
}


section.main-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; 
}

section.main-section .resume-item .resume-date {
  min-width: none; 
}

@media (min-width: 768px) {
  section.main-section {
    min-height: 100vh; 
  }
  section.main-section .resume-item .resume-date {
    min-width: 18rem; 
  }
}

@media (min-width: 992px) {
  section.main-section {
    padding-top: 3.5rem !important;
    padding-bottom: 3rem !important; 
  } 
}

.bg-primary {
  background-color: #22306f !important; 
}

.text-primary {
  color: #22306f !important; 
}

